

.section {
    color: #fff;
    DISPLAY: GRID;
    /* 6элементов занимает равное растояние */
    GRID-TEMPLATE-COLUMNS: repeat(6, 1FR);
    /* пробел иежду блоками */
    GRID-COLUMN-GAP: 3EM;
    margin-bottom: 5%;
}



.cart-img {
    max-width: 180px;
    max-height: 280px;
    max-width: 180px;
    max-height: 280px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 100%;
}

.films {
    color: #fff;
    /* padding-top: 60px; */
}


@media (max-width: 970px) {

    .navigation-panel {
        display: none;
    }

    .section {
        color: #fff;
        DISPLAY: GRID;
        GRID-TEMPLATE-COLUMNS: repeat(2, 1FR);
        GRID-COLUMN-GAP: 3EM;
    }
}